:root {
  --primaryBackgroundColor: #ffffff;
}

.modalContainer {
  background-color: var(--primaryBackgroundColor);
  position: absolute;

  height: auto;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;

  z-index: 111;

  width: 325px;
  right: 60px;
  top: 60px;
}

.modalClose {
  display: none;
}

.modalSubContainer {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
}

.itemContainer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 15px;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.bagViewBtn {
}

.checkOutBtn {
}

.btnContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
  align-items: center;
}
