:root {
  --primaryBackgroundColor: #ffffff;
}

.modalContainer {
  background-color: rgb(141, 51, 51);
  position: absolute;
  width: 250px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  border-radius: 5px;
  z-index: 111111 !important;
}

.modalClose {
  display: none;
}
