:root {
  --primaryBackgroundColor: #ffffff;
  --primaryGreenColor: #5ece7b;
  --primaryBlackColor: #1d1f22;
}

.navContainer {
  width: 100vw;
  height: 80px;
  position: absolute;
  top: 0px;
  width: 100%;
  background-color: var(--primaryBackgroundColor);
}

.navCategories {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 234px;
  height: 56px;
  left: 80px;
  bottom: 0px;
}

.navItem {
  position: static;
  color: var(--primaryBlackColor);
  height: 20px;
  left: 0%;
  right: 0%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-right: 20px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.active {
  color: var(--primaryGreenColor);
  font-weight: 600;
  border-bottom: 2px solid var(--primaryGreenColor);
  padding: 0px 10px 30px 10px;
}

.logoContainer {
  position: absolute;
  width: 41px;
  height: 41px;
  left: calc((100vw / 2) - 101px);
  top: calc(50% - 41px / 2 + 4.5px);
}

.cartContainer {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 95px;
  top: 38px;
  margin: 0px 22px;
  cursor: pointer;
}

.wheelsContainer {
  position: absolute;
  top: 5px;
  left: 6px;
}

.currencyContainer {
  position: absolute;
  width: 38px;
  height: 29px;
  right: 150px;
  top: 20px;
  background-color: transparent;
  border: none;
  display: flex;
}

.optionCurrency {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin-right: 10px;
  color: var(--primaryBlackColor);
}

.arrow {
  border: solid var(--primaryBlackColor);
  border-width: 0 2px 2px 0;
  display: inline-block;
  margin-top: 10px;
  padding: 2px;
  cursor: pointer;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.modalCurrencyContainer {
  background-color: var(--primaryBackgroundColor);
  position: absolute;
  width: 114px;
  height: fit-content;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  right: 124px;
  top: 65px;
  z-index: 2;
}

.modalClose {
  display: none;
}
.currencyListItem {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin-left: 20px;
  color: var(--primaryBlackColor);
}

.itemsCartSum {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 8px;
  margin-top: -10px;
  background-color: #1d1f22;
  color: #ffffff;
  font-size: 12px;
}

.hidden {
  display: none;
}
