:root {
  --navbarBackgroundColor: #ffffff;
}

body {
  margin: 0;
}
.navContainer {
  width: 100vw;
  height: 80px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: var(--navbarBackgroundColor);
}

.navCategories {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 234px;
  height: 56px;
  left: 101px;
  bottom: 0px;
}

.navItem {
  position: static;
  height: 20px;
  left: 0%;
  right: 0%;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-right: 20px;
  margin-left: 30px;
  margin-bottom: 30px;
}
