:root {
  --navbarBackgroundColor: #ffffff;
}

.navContainer {
  width: 100vw;
  height: 80px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: var(--navbarBackgroundColor);
}

.navCategories {
  display: flex;
  flex-direction: row;

  padding: 0px;
  position: absolute;
  width: 234px;
  height: 56px;
  left: 101px;
  bottom: 0px;
}

.navItem {
  position: static;
  height: 20px;
  left: 0%;
  right: 0%;
  top: calc(50% - 20px / 2 - 16px);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 30px 0px;
}
