@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

:root {
  --primaryButtonColor: #5ece7b;
}
.productsDetailsConatiner {
  margin-top: calc(14% - 80px / 2);
  margin-left: calc(11% - 80px / 2);
  margin-right: calc(11% - 80px / 2);
}

.productDetailSubContainer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  height: 100%;
}

.galleryConatiner {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-content: flex-start;
}

.productDetailsInfo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

.brandName {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
}
.productName {
  margin-top: 0px;
  padding-top: 0px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
}

.attrName {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
}
.attrContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  max-width: 180px;
  flex-wrap: wrap;
}

.productPrice {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  margin-top: 0px;
}

.cartButton {
  width: 292px;
  height: 52px;
  background-color: var(--primaryButtonColor);
  color: white;
  cursor: pointer;
  border-style: none;
}

.outStock {
  opacity: 0.5;
}
