:root {
  --pNameColor: #1d1f22;
}

.ProductsContainer {
  margin-top: calc(14% - 80px / 2);
  margin-left: calc(11% - 80px / 2);
}

.categoryName {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 160%;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.gridContainer {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 386px 386px 386px;

  margin-right: 80px;
  column-gap: 30px;
}

.cardContainer {
  width: 330px;
  height: 444px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  background-color: aqua;
}

.productImage {
  justify-self: start;
}
.productName {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: var(--pNameColor);
  line-height: 160%;
}

.productPrice {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: var(--pNameColor);
}
