@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

* {
  box-sizing: border-box;
}
:root {
  --primaryButtonColor: #5ece7b;
}
.productsDetailsConatiner {
  margin-top: calc(14% - 80px / 2);
  margin-left: calc(11% - 80px / 2);
  margin-right: calc(11% - 80px / 2);
}

.productDetailSubContainer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  height: 100%;
}

.galleryConatiner {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-content: flex-start;
}

.productDetailsInfo {
  display: flex;
  flex-flow: column nowrap;
}

.brandName {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
}
.productName {
  margin-top: 0px;
  padding-top: 0px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
}
.outStocktitle {
  position: absolute;
  top: 350px;
  left: 450px;
  margin: 0 auto;
  z-index: 4;
  opacity: 1 !important;
  color: #e24d4d;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}
.attrName {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
}
.attrContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  max-width: 250px;
  flex-direction: column;
  flex-wrap: nowrap;
}

.productPrice {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  margin-top: 0px;
}

.cartButton {
  width: 292px;
  height: 52px;
  background-color: var(--primaryButtonColor);
  color: white;
  cursor: pointer;
  border-style: none;
}

.outStock {
  opacity: 0.5;
}
.attrValue {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  font-family: "Source Sans Pro";
}
.selectedAttr {
  background-color: #1d1f22;
  .attrValue {
    color: #ffffff;
  }
}
.selectedColor {
  border: 1px solid white;
  outline: 1px solid #5ece7b;
  box-sizing: border-box;
  -webkit-outline: 0;
}
.notSelectedAttr {
  background-color: #ffffff;
  .attrValue {
    color: #1d1f22;
  }
}
.flex {
  display: flex;
}

.attrStyles {
  width: 32px;
  height: 32px;
  margin-inline-end: 10px;
  cursor: pointer;
  text-align: center;
}

.selectedAttrcontainer {
  display: flex;
  margin-bottom: 10px;
}
.attr {
  width: 63px;
  height: 45px;
  margin-inline-end: 10px;
  border: 1px solid black;
  cursor: pointer;
  text-align: center;
  margin-top: 8px;
}

.mb {
  margin-bottom: 8px;
}

.w300 {
  width: 300px;
}

.imgStyles {
  object-fit: scale-down;
  margin-bottom: 10px;
  image-rendering: optimizeQuality;
  width: 79px;
  height: 80px;
  cursor: pointer;
}

.imgContainer {
  height: 400px;
  width: 400px;
  margin-left: 20px;
}
.bigImage {
  width: 100%;
  height: 100%;
  max-height: 500px;
  object-fit: scale-down;
  image-rendering: optimizeQuality;
  margin-top: 10px;
}
