.cartContainer {
  margin-top: calc(14% - 80px / 2);
  margin-left: calc(11% - 80px / 2);
}

.cartHeadline {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
}

.itemContainer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 15px;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
